@charset "utf-8";
/* Attention : Bulma Checkbox est à importer avant bulma*/
@import "../node_modules/bulma-checkbox/bulma-checkbox.scss";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-switch/src/sass/index.sass";
@import "../node_modules/bulma-o-steps/bulma-steps.sass";

$input-border-color : $border;

h1, h2, h3, h4, h5, h6 {
  @extend .title;
}

h1 {
  @extend .is-1;
  @extend .has-text-centered;

}
h2 {
  @extend .is-2;
}
h3 {
  @extend .is-3;
}
h4 {
  @extend .is-4;
}
h5 {
  @extend .is-5;
}

// FIX FOR SELECT2
.select2-container {
  .select2-selection--single, .select2-selection--multiple {
    //display: inline-flex !important;
    font-size: 1rem !important;
    height: 2.25em !important; //$input-height !important;
    line-height: 1.5 !important;
    padding: 3px 0 !important;
    border: 1px solid $border !important;

    .select2-selection__arrow {
      visibility: collapse !important;
    }

    .select2-selection__placeholder {
      color: #dbdbdb !important;
    }
  }
  .select2-dropdown {
    border: 1px solid $border !important;

    &.select2-dropdown--below {
      border-top: 0 !important;
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    }

    &.select2-dropdown--above {
      border-bottom: 0 !important;
      box-shadow: 0 -0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    }

    .select2-search {
      margin: 5px;

      .select2-search__field {
        padding: 10px !important;
        border-radius: 3px !important;
        font-size: 1rem;
        height: 2.25em;
        box-shadow: $input-shadow;
        max-width: 100%;
        width: 100%;
      }
      .select2-search__field:focus {
        outline: none !important;
        border-color: $input-focus-border-color !important;
        box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color !important;
      }
    }
    // La liste déroulante
    .select2-results__option {
      .select2-results__option {
        max-height: 200px !important;
        padding: 0.37em 0.75em !important;
        font-size: 1rem;
        // Survolé
        &.select2-results__option--highlighted {
        }
        //Sélectionnés
        &.select2-container--default .select2-results__option[aria-selected=true] {
          background-color: darkgray;
        }
      }
    }
  }
} 



