{% load leaflet_tags %}
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
</head>

<body>
    {% leaflet_map "mymap" callback="window.map_init_basic" %}
</body>

<script>
    function map_init_basic (map, options) {
        // Un FeatureGroup pour ajuster le zoom en fonction des adresses
        var myFGMarker = new L.FeatureGroup();
        // markerClusterGroup pour regrouper les adresses s'il y en a plusieurs
        var markers = new L.markerClusterGroup();
        {% for address in adresses %}
            // On créer un marker pour chaque adresse
            marker = L.marker({{ address }});
            // On l'ajoute au cluster
            markers.addLayer(marker);
            // Et au groupe d'adresse
            myFGMarker.addLayer(marker);
        {% endfor %}
        // On ajoute les clusters à la carte
        map.addLayer(markers);
        // On ajuste le zoom en fonction du groupe d'adresse
        map.fitBounds(myFGMarker.getBounds());
    }
</script>
