{% load verbose_names %}
{% load static %}
 {% load i18n %}
{% block head-javascript %}
    <link href="{% static 'css/fiche_inscription.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
 {% comment %}
Pour utiliser le tag créé dans templatetags/verbose_names
{% get_verbose_field_name fiche "last_name" %} :  {{ fiche.last_name }}
{% endcomment %}

    <h1 class="header"> Fiche d'inscription </h1>    <h2 class="header"> Année 2022-2023</h2>
    <div class="container">
    <table>
    <tbody>
    <tr>
        <td>
            <h1> {{ fiche.prenom }} {{ fiche.nom }} </h1>
        </td>
        <td>
            <img width="170px"  src="{{ fiche.photo.url }}"/>

        </td>
    </tr>

    <tr>
      <td>
          <h4>Civilité</h4>
                <p><u>Sexe (administratif):</u><span class="float-right">{{ fiche.civility}}</span></p>
                <p><u>Pronom:</u><span class="float-right">{{ fiche.genre}}</span></p>
                <p><u>Nom:</u><span class="float-right">{{ fiche.nom}}</span></p>
                <p><u>Prénom:</u><span class="float-right">{{ fiche.prenom}}</span></p>
                <p><u>Prénom d'usage:</u><span class="float-right">{{ fiche.nom_usage}}</span></p>
      </td>
      <td>
           <h4>Coordonnées</h4>
                <p><u>Adresse:</u><span class="float-right">{{ fiche.address}}</span></p>
                <p><u>Téléphone:</u><span class="float-right">{{ fiche.telephone.as_national}}</span></p>
                <p><u>Email:</u><span class="float-right">{{ fiche.email}}</span></p>
      </td>
    </tr>
    <tr>
      <td>
          <h4>Naissance</h4>
                <p><u>Date de naissance:</u><span class="float-right">{{ fiche.date_naissance}}</span></p>
                <p><u>Ville de naissance:</u>
                    <span class="float-right">
                        {% if fiche.pays_naissance_id == 1 %} {{ fiche.commune_naissance}}
                        {% else %} {{ fiche.ville_natale}}
                        {% endif %}
                    </span>
                </p>
                {% if fiche.pays_naissance_id == 1 %}
                    <p><u>Département de naissance:</u>
                        <span class="float-right">{{ fiche.departement_naissance.name}}</span>
                    </p>
                {% endif %}
                <p><u>Pays de naissance:</u><span class="float-right">{{ fiche.pays_naissance}}</span></p>
                <p><u>Nationalité:</u><span class="float-right">{{ fiche.nationalite}}</span></p>
      </td>
      <td>
          <h4>Responsables</h4>
                <h5>{{ fiche.get_resp1_display}} : {{ fiche.nom_resp1}}  {{ fiche.prenom_resp1}} </h5>
                <p><u>Adresse:</u><span class="float-right">{{ fiche.adresse_resp1}}</span></p>
                <p><u>Téléphone:</u><span class="float-right">{{ fiche.tel_resp1.as_national}}</span></p>
                <p><u>Email:</u><span class="float-right">{{ fiche.email_resp1}}</span></p>
                <p><u>Profession:</u><span class="float-right">{{ fiche.sociopro_resp1}}</span></p>
                {% if fiche.resp2 != 'aucun' %}
                    <h5>{{ fiche.get_resp2_display}} :  {{ fiche.nom_resp2}}  {{ fiche.prenom_resp2}}  </h5>
                    <p><u>Adresse:</u><span class="float-right">{{ fiche.adresse_resp2}}</span></p>
                    <p><u>Téléphone:</u><span class="float-right">{{ fiche.tel_resp2.as_national}}</span></p>
                    <p><u>Email:</u><span class="float-right">{{ fiche.email_resp2}}</span></p>
                    <p><u>Profession:</u><span class="float-right">{{ fiche.sociopro_resp2}}</span></p>
                {% endif %}
      </td>
    </tr>

  </tbody>
    </table>
</div>
{% endblock %}