{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head-javascript %}
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/formulaire_inscription.css' %}" rel="stylesheet">
{% endblock stylesheet %}
  {{ form.media }}

{% block content %}
<h1 class=text-center >Inscription au Lycée Expérimental</h1>
        {{ wizard.form.media }}
<div class="container">

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="formwizard">
                <p>Étape {{ wizard.steps.step1 }} sur {{ wizard.steps.count }}  -   {{ wizard.form.name }}</p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <table>
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                           {% crispy form %}
                        {% endfor %}
                    {% else %}
                           {% crispy wizard.form %}
                    {% endif %}
                </table>
                {%  comment %} Décommenter pour avoir des indications sur ce qui empèche la soumission de la form
                {{ wizard.form.non_field_errors }}
                {{ wizard.form.errors }}
                {% endcomment %}
                {% if wizard.steps.prev %}
                    <button class="btn btn-outline-danger" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate><span class="fa fa-arrow-left" aria-hidden="true"></span> Précédent</button>
                {% endif %}
                <button class="btn btn-outline-success float-right" name="wizard_goto_step" type="submit" > Suivant <span class="fa fa-arrow-right" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
