{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head-javascript %}
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/formulaire_inscription.css' %}" rel="stylesheet">
{% endblock stylesheet %}
  {{ form.media }}

{% block content %}
    <br>
<h1 class=text-center >Inscription au Lycée Expérimental</h1>
        {{ wizard.form.media }}
    <br>
<div class="container">
    <ul id="progressbar" class="text-center" style="padding: 0;">
        <li class="active" id="identite"><strong>Identité</strong></li>
        <li {% if wizard.steps.step1 >= 2 %} class="active" {% endif %} id="responsables"><strong>Responsables</strong></li>
        <li {% if wizard.steps.step1 >= 3 %} class="active" {% endif %} id="scolarite"><strong>Scolarité</strong></li>
        <li {% if wizard.steps.step1 >= 4 %} class="active" {% endif %} id="projet"><strong>Projet</strong></li>
    </ul>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: calc({{ wizard.steps.step1}} / {{ wizard.steps.count }} * 100%);"></div>
    </div>
<br>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="formwizard">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <table>
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                           {% crispy form %}
                        {% endfor %}
                    {% else %}
                           {% crispy wizard.form %}
                    {% endif %}
                </table>
                {%  comment %} Décommenter pour avoir des indications sur ce qui empèche la soumission de la form
                {{ wizard.form.non_field_errors }}
                {{ wizard.form.errors }}
                {% endcomment %}
                {% if wizard.steps.prev %}
                    <button class="btn btn-outline-danger" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate><span class="fa fa-arrow-left" aria-hidden="true"></span> Précédent</button>
                {% endif %}
                <button class="btn btn-outline-success float-right" name="wizard_goto_step" type="submit" > Suivant <span class="fa fa-arrow-right" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block foot-javascript %}
    <script>
        function ajoutAllergie() {
            if(document.getElementById('id_2-ajout_allergie').value) {
                var XHR = new XMLHttpRequest();
                var urlEncodedData = "";
                var urlEncodedDataPairs = [];
                // Transformez l'objet data en un tableau de paires clé/valeur codées URL.
                urlEncodedDataPairs.push(encodeURIComponent('allergene') + '=' + encodeURIComponent(document.getElementById('id_2-ajout_allergie').value));
                urlEncodedDataPairs.push(encodeURIComponent('csrfmiddlewaretoken') + '=' + encodeURIComponent("{{ csrf_token }}"));
                // Combinez les paires en une seule chaîne de caractères et remplacez tous
                // les espaces codés en % par le caractère'+' ; cela correspond au comportement
                // des soumissions de formulaires de navigateur.
                urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');
                // Définissez ce qui se passe en cas de succès de soumission de données
                //XHR.addEventListener('load', function(event) {
                //    alert('Ouais ! Données envoyées et réponse chargée.');
                //});
                // Définissez ce qui arrive en cas d'erreur
                //XHR.addEventListener('error', function(event) {
                //    alert('Oups! Quelque chose s\'est mal passé.');
                //});
                // Configurez la requête
                XHR.open('POST', 'allergie');
                // Ajoutez l'en-tête HTTP requise pour requêtes POST de données de formulaire
                XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // Finalement, envoyez les données.
                XHR.send(urlEncodedData);
                setTimeout(function () {
                    //on ne recharge que le div id allergie (de la step 2)
                    $('#allergie').load(' #allergie', {"csrfmiddlewaretoken":"{{ csrf_token }}", "wizard_goto_step": '2'}, function(){$(this).children().unwrap()});
                    //location.load();
                    document.getElementById('id_2-ajout_allergie').value = '';
                }, 500);
            }
        }
        function ajoutDys() {
            if(document.getElementById('id_2-ajout_dys').value) {
                var XHR = new XMLHttpRequest();
                var urlEncodedData = "";
                var urlEncodedDataPairs = [];
                urlEncodedDataPairs.push(encodeURIComponent('trouble') + '=' + encodeURIComponent(document.getElementById('id_2-ajout_dys').value));
                urlEncodedDataPairs.push(encodeURIComponent('csrfmiddlewaretoken') + '=' + encodeURIComponent("{{ csrf_token }}"));
                urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');
                XHR.open('POST', 'dys');
                XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                XHR.send(urlEncodedData);
                setTimeout(function () {
                    $('#dys').load(' #dys', {"csrfmiddlewaretoken":"{{ csrf_token }}", "wizard_goto_step": '2'}, function(){$(this).children().unwrap()});
                    document.getElementById('id_2-ajout_dys').value = '';
                }, 500);
            }
        }
    </script>
{% endblock %}
