{% load crispy_forms_bulma_field %}
{% load crispy_forms_filters %}
{% load l10n %}

{% if field.is_hidden %}
  {{ field }}
{% else %}

{# use a negated variable, so it get's rendered by default and we don't need to modify the FormHelper #}
{% if not exclude_field_wrapper %}
  <div
    id="div_{{ field.auto_id }}"
    class="field{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_horizontal %} is-horizontal{% endif %}"
  >
    {% if form_horizontal %}<div class="field-label">{% endif %}
      {% if field.label %}
        <label for="{{ field.id_for_label }}" class="label{% if label_class %} {{ label_class }}{% endif %}">
          {{ field.label }}
          {% if field.field.required %}
            <span class="asterisk">*</span>
          {% endif %}
        </label>
      {% endif %}
    {% if form_horizontal %}</div>{% endif %}

    {% if form_horizontal %}<div class="field-body"><div class="field">{% endif %}
{% endif %}

{% for choice in field.field.choices %}
<div class="control{% if field.errors %} is-danger {% endif %}">
    <label class="b-checkbox checkbox" for="id_{{ field.html_name }}_{{ forloop.counter0 }}">
        <input type="checkbox" name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter0 }}" {% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter0 }}" value="{{ choice.0|unlocalize }}"{% if field.field.disabled %} disabled{% endif %} {{ field.field.widget.attrs|flatatt }}>
        <span class="check {{ field.field.widget.attrs.class }}"></span>
        <span class="control-label">{{ choice.1|unlocalize }}</span>
    </label>
</div>
{% endfor %}

{% if not exclude_field_wrapper %}
      {% if form_show_errors %}
        {% for error in field.errors %}
          <p id="error_{{ forloop.counter }}_{{ field.auto_id }}"
             class="help is-danger">
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}

      {% include 'bulma/layout/help_text.html' %}
    {% if form_horizontal %}</div></div>{% endif %}
  </div>
{% endif %}

{% endif %}
