<div class="field">
    <div class="file is-success has-name is-fullwidth">
      <label class="file-label">
        <input type="file" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choisir une photo
          </span>
        </span>
        <span class="file-name">
            ........
        </span>
      </label>
    </div>
  </div>